/* 5ta seccion contacto */

.contacto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px 0px gray;
    border-radius: 20px;
    background-color: rgba(255, 254, 253, 0.5);
    backdrop-filter: blur(2px); 
    max-width: 1200px;
    padding: 30px 10px;
    margin: 40px auto;
    box-sizing: border-box;

    .contacto__info {
        font-size: 1.438rem;
        padding: 20px 0px;
        max-width: 600px;
        min-width: 300px;
        display: flex;
        flex-direction: column;

        p{
            font-size: 1.438rem;
            max-width: 600px;
            min-width: 300px;
            display: flex;
            flex-direction: column;
        }
       
    }
    .contacto__map {
        max-width: 37.5rem;
        min-width: 18.75rem;

        iframe{
            width: 31.25rem;
            height: 18.75rem;
            border-radius: 20px;
        }
    }
}
hr{
    margin: 1.25rem 2.25rem 1.25rem 0rem;
    border: 2px solid rgba(241, 151, 151, 1);
    height: 6px;
    width: auto;
    opacity: 1;
}
/* Newsletter */

.clientes {
    background-color: rgba(255, 254, 253, 0.5);
    backdrop-filter: blur(2px);
    text-shadow: 2px 2px 1px black;
    box-shadow: 0px 0px 15px 0px gray;
    border-radius: 20px;
    color: $col-primario;
    padding: 30px 10px;
    margin: 0px auto;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;

    p{
        color: $col-primario;
        text-align: center;
        font-size: 2.875rem;
    }
    .clientes__contenedor {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        box-sizing: border-box;

        .clientes__form {
            max-width: 37.5rem;
            min-width: 18.75rem;
            width: 100%;
            padding: 10px;
            color: black;
            text-shadow: none;
            box-sizing: border-box;

            label{
                font-size: 1.4rem;
            }
            textarea {
                min-height: 70px;
                resize: none;
                font-size: 1.2rem;
            }
            .clientes__form-li {
                list-style-type: none;
                font-size: 1.4rem;
            }
            .clientes__form-input{
                width: 100%;
                border: none;
                border-bottom: 3px solid rgba(241, 151, 151, 1);
                background: transparent;
                padding: 10px 0;
            }
            .clientes__form-boton{
                width: 100%;
                border: none;
                border-bottom: 3px solid black ;
                background: $col-primario;
                color:black;
                margin: 5px 0px;
                padding: 5px;
                border-radius: 20px;
                font-weight: 800;
                font-size: 1.4rem;
            }
        }
        .clientes__img img{
            width: 98%;
            max-width: 29rem;
            min-width: 13.625rem; 
            padding: 10px;
        }
    }
}
