/*media query*/

@media screen and (max-width: 1200px) {

    /*Generales*/
    
    .pagina2{
        max-width: 700px;
    }

    /**Home*/

    .b-inicio section#titulo .caja__inicio h1{
        font-size: 7.3rem;
    }
     /*Conocenos*/

     .cont__conocenos {
        max-width: 43.75rem;
    }

      /*Productos*/
      .productos .contenedor__productos{
        margin: 25px 20px;
    }

    /*Promociones*/

    .container-promo{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "promo1"
        "promo2"
        "promo-cuotas"
        "promo-banco";
        max-width: 700px;
        min-height: 1900px;
        padding:0 auto;
        justify-content: center;
        align-self:center;
        justify-content: center; 
        align-content: center; 
    }

    /*Contacto*/
    .contacto{
        width: auto;
        max-width: 700px;
    }
    .clientes {
        width: auto;
        max-width: 700px;
    }


    /*Footer*/
    footer{
        padding-top: 1.25rem;
    }
}

@media screen and (max-width: 993px) {
    *{
        font-size: 14px;
    }

    /*Home*/
    .b-inicio{

        #img-home1, #img-home2, #img-home3{
        background-size:200%;
        animation: movimiento3 15s linear infinite alternate;
        }
    }
    /*Estilos generales*/

    body .b-2 {
        background-image: url("https://i.postimg.cc/sDqmXhWx/fondoresponsive.jpg");
        animation: none;
    }

    .pagina .titulos {
        background-size: 110%;
        animation: movimiento3 5s linear infinite alternate;
    }
    .pagina2 .titulos {
        background-size: 110%;
        animation: movimiento3 5s linear infinite alternate;
    }

     /*Promociones*/
     .container-promo{
        min-height: 1800px;
        .promo-p2{
            bottom: 70px;
        }
    }
    
    @keyframes movimiento3{
        from{
            background-position:left;
            position: left;
        }
        to{
            background-position: right;
            position: right;
        }
    }
}

@media screen and (max-width: 767px) {
    
    /*Estilos generales*/

    .pagina {
        padding-top: 35px ;   
    }
    .pagina2 {
        padding-top:35px ;
    }

    /*Home*/
    .b-inicio{
        #img-home1, #img-home2, #img-home3{
            background-size:260%;
        }
    }

    /*Productos*/
    .contenedor__productos{
        width: 100%;
        max-width: 28.25rem;
    }
    .productos__imagen img{
        max-width: 100%;
        width: auto;
    }

    /*Footer*/

    footer .contenedor-footer{
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 500px){
    /*Estilos generales*/
    html{
        font-size: 12px;
    }
    h1{
        font-size: 4.5rem;
        
    }

    /*Home*/
    .b-inicio{

        #img-home1, #img-home2, #img-home3{
            background-size:350%;
        }
    
        section#titulo .caja__inicio h1 {
            font-size: 4.5rem;
            padding: 20px 30px;
        }
    }
    /*Conocenos*/
    .cont__conocenos .conocenos iframe{
        width: 300px;
        height: 18.75rem;
        border-radius: 20px;
    }
    /*Contacto*/
    .contacto .contacto__map iframe {
        width: 300px;
        height: 18.75rem;
        border-radius: 20px;
    }
    /*Productos*/
    .productos{
        margin: 0;
        padding: 0;

        .contenedor__productos{
            margin: 15px 0;
            padding: 0;
            .productos__imagen{     
                img{
                    max-width:none;
                    }
                }
            
            .productos__comprar {
                button{
                    font-size: 2rem;
                }
        
            }
        }

        
    } 

    /*Promociones*/
    .container-promo{ 
        min-height: 1300px;
        .promo-p2{
            bottom: 35px;
        }
        .promo-p1{
            font-size: 7rem;
        }
    }    
}