/*media query*/

@media screen and (max-width: 1280px) {

    /*Generales*/
    *{
        font-size: 14px;
    }
    h1{
        font-size: 6rem;
    }
    .pagina2{
        max-width: 700px;
    }

    /**Home*/

    .b-inicio section#titulo .caja__inicio {
        h1{
            font-size: 7.3rem;}
        h2{
            font-size: 7.3rem;
        }
    }

      /*Productos*/
      .productos .contenedor__productos{
        margin: 25px 20px;
    }

    /*Promociones*/

    .container-promo{
        max-width: 1000px;
    }


    /*Footer*/
    footer{
        padding-top: 1.25rem;
    }
}

@media screen and (max-width: 993px) {
    *{
        font-size: 14px;
    }

    /*Home*/
    .b-inicio{

        #img-home1, #img-home2, #img-home3{
        background-size:200%;
        animation: movimiento3 15s linear infinite alternate;
        background-attachment:inherit;
        }
    }
    /*Estilos generales*/

    body .b-2 {
        background-image: url("../../images/fondoresponsive.jpg");
        animation: none;
    }

     /*Conocenos*/

     .cont__conocenos {
        max-width: 43.75rem;
    }

      /*Promociones*/

    .container-promo{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "promo1"
        "promo2"
        "promo-cuotas"
        "promo-banco";
        max-width: 700px;
        padding:0 auto;
        justify-content: center;
        align-self:center;
        justify-content: center; 
        align-content: center; 
        min-height: 1800px;
    }
    
    @keyframes movimiento3{
        from{
            background-position:left;
            position: left;
        }
        to{
            background-position: right;
            position: right;
        }
    }
}

@media screen and (max-width: 800px) {
    
    /*Estilos generales*/
    *{
        font-size: 12px;
    }
    .pagina {
        padding-top: 35px ;   
    }
    .pagina2 {
        padding-top:35px ;
    }

    /*Home*/
    .b-inicio{
        #img-home1, #img-home2, #img-home3{
            background-size:260%;
        }
    }
    /*conocenos*/
    .cont__conocenos {
        .conocenos { 
            p{
                font-size: 1.6rem;
            }
        }
    }
    .cont__quienes-somos{
        p{
            font-size: 1.6rem;
        }
    }
    /*Productos*/
    .contenedor__productos{
        width: 100%;
        max-width: 28.25rem;
    }
    .productos__imagen img{
        max-width: 100%;
        width: auto;
    }
     /*Promociones*/

     .container-promo{
        min-height: 1400px;
        max-width: 450px;
    }

    /*Footer*/

    footer .contenedor-footer{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 700px) {
    /*Home*/
    .b-inicio{
        #img-home1{
            background-image: url("../../images/fondoresponsive1.jpg");
            background-size:140%;
        } 
        #img-home2{
            background-image: url("../../images/fondoresponsive2.jpg");
            background-size:140%;
        } 
        #img-home3{
            background-image: url("../../images/fondoresponsive3.jpg");
            background-size:140%;
        }
    }
}
@media screen and (max-width: 500px){
    /*Estilos generales*/
   
    h1{
        font-size: 4.5rem;
        
    }

    /*Home*/
    .b-inicio{
        section#titulo .caja__inicio {
            h1 {
                font-size: 4.5rem;
                padding: 20px 30px;}
            h2 {
                font-size: 4.5rem;
                padding: 20px 30px;

            }
        }
    }
    /*Conocenos*/
    .cont__conocenos .conocenos iframe{
        width: 300px;
        height: 18.75rem;
        border-radius: 20px;
    }
    /*Contacto*/
    .contacto .contacto__map iframe {
        width: 300px;
        height: 18.75rem;
        border-radius: 20px;
    }
    /*Productos*/
    .productos{
        margin: 0;
        padding: 0;

        .contenedor__productos{
            margin: 15px 0;
            padding: 0;
            .productos__imagen{     
                img{
                    max-width:none;
                    }
                }
            
            .productos__comprar {
                button{
                    font-size: 2rem;
                }
        
            }
        }

        
    } 

}