/*Productos*/
.nav-productos{
    
    h6{
        color:$col-primario;
        font-size: 1.7rem;
        text-shadow: 1px 1px 1px black;
    }
}
.productos {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-evenly;
    
    .contenedor__productos{
        width: auto;
        height: auto;
        box-shadow: 0px 0px 15px 0px gray;
        border-radius: 7px;
        text-align: center;
        margin: 50px 20px;
        backdrop-filter: blur(3px);
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .productos__text {
            text-align: center;
            border-radius: 7px 7px 0 0;
            background: linear-gradient(to bottom, $col-primario, rgba(255, 254, 253, 0.9));
            color: white;
            padding: 10px 0px;

            h5 {
                font-size: 2rem;
                color: white;
                text-shadow: 2px 2px 1px black;
            }
            p{
                color: black;
                font-size: 1.3rem;
            }
            
        }
        .productos__imagen{ 
            position: relative;
            overflow: hidden;

            img{
                max-width: 22.5rem;
                width: 100%;
                transition: all 1s;
                animation: fade 2s both;
                }
            
            .precio{
            padding: 4px 10px;
            color: white;
            font-size: 25.6px;
            text-shadow: 2px 2px 1px black;
            position: absolute;
            right: 0;
            top: 20px;
            z-index: 1000;
            background: linear-gradient(to bottom, rgb(233, 188, 188), rgb(245, 173, 173));
            border-radius: 7px 0 0 7px;
            border-bottom: 1px solid black;
            }
        }
        .productos__imagen img:hover{
            transform: scale(1.3);
            cursor:zoom-in;
        }
        .productos__comprar {
            background: linear-gradient(to bottom, rgba(255, 254, 253, 0.7),$col-primario);
            border-radius: 0 0 7px 7px;
            display: block;

            button{
                background-color: rgba(255, 255, 255, 1);
                color: black;
                border-radius: 5px;
                border: none;
                box-shadow: 2px 2px 10px gray;
                font-size: 1.5rem;
                transition: all 500ms ease-out;
            }
            button:hover{
                transform: scale(1.1);
                font-weight: 600;
            }
        }
    }
    
}
@keyframes fade{
    0% {
        opacity: 0;
        }
    100% {
        opacity: 1;
        }
        
}
.label__zapatillas {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;

    p{
        background: linear-gradient(to bottom, $col-primario, rgba(255, 254, 253, 0.9));
        color: white;
        text-shadow: 2px 2px 1px black;
        text-align: center;
        font-size: 2.875rem;
    }
    .zapatillas__contenedor {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        box-sizing: border-box;

        h6{
            font-size: 1.8rem;
        }

        .zapatillas__info {
            max-width: 29rem;
            min-width: 13.625rem; 
            width: 100%;
            padding: 10px;
            color: black;
            text-shadow: none;
            box-sizing: border-box;

            
            ul{
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                font-size: 1.1rem;

                li{
                    font-size: 1.1rem;
                    font-weight: 200;
                    padding: 10px 15px;
                    margin: 8px 2px;
                    background-color: $col-primario;
                    border-radius: 30px;
                    text-align: center;
                }
            }

        }
        .comprar {
            width: 100%;
            max-width: 29rem;
            min-width: 13.625rem; 
            padding: 10px;

            li{
                font-size: 1.3rem;
                margin: 15px 0px ;
                font-weight: 200;
            }
        }

    }
    .pagar{
        background: linear-gradient(to bottom, rgba(255, 254, 253, 0.7),$col-primario);
        display: flex;
        justify-content: center;
        padding: .625rem 3.75rem;
        margin-top: -4px;
        font-size: 1.563rem;

        button{
            background-color: rgba(255, 255, 255, 1);
            color: black;
            box-shadow: 0px 0px 15px 0px gray;
            padding: 0 1.875rem;
            font-family: 'Rancho', cursive;
            font-size: 1.5625rem;
            transition: 0.3s;
        }
        button:hover{
            background-image: url(https://i.postimg.cc/hjcCvgmv/mercado-pago.jpg);
            background-size: cover;
            color: rgba(255, 254, 253, 0.1);
            transform: scale(1.1);
        }
    }
}